<div ng-controller="PxVistimeseriesCtrl as ctrl" >
    
    <script type="text/ng-template" id="Exponential.html">
        <link rel="import" ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-spinner/px-spinner.html"/>
        
        <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-vis-timeseries/px-vis-timeseries.html" rel="import" dcy-on-load load-handler="ctrl.setExponentialLibraryLoaded();">
        
        <px-vis-timeseries  id="{{ctrl.widgetID}}"  
                            width="{{ctrl.width}}" 
                            height="{{ctrl.height}}" 
                            prevent-resize="true" 
                            enable-tooltip="true" 
                            selection-type="xy" 
                            register-location="top" 
                            chart-data="{{ctrl.chartData}}" 
                            include-all-series="true">
        </px-vis-timeseries>
        
        <div id='px-fade' ng-style="{'width': ctrl.width, 'height' : ctrl.contHeight,'display':'inline-block'}"><px-spinner  size=80></px-spinner></div>
    </script>

    <script type="text/ng-template" id="error.html">
        <h3 id="tm-error">{{ctrl.errorMsg}}</h3>
    </script>
    
    <div ng-style="{'width': ctrl.width, 'height' : ctrl.contHeight,'display':'inline-block'}" ng-include src="ctrl.currentTpl"></div>   
</div>



 
 
