div>px-spinner{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#px-fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#tm-error {
    font-size: 14px;
    color: red;
}